{% extends 'base.html' %}
{% block content %}

<div class="container">

    <div class="row" style="margin-top:5%;">
        <div class="col-sm-6" style="background-color: Black; color: yellow; height: 300px; text-align: center; padding-top: 13%;" >
            {% for msg in messages%}
            
            <h1 style="color: yellow;">{{msg}}</h1>
            {%endfor%}
        </div>
        <div class="col-sm-6" style="background-color: black; color: white; height: 300px; padding-top: 6%;">
            <h1 style="text-align: center; color: yellow;" >About Me</h1>
            <p style="text-align: justify; ">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Totam sed amet rem voluptas perferendis, iusto possimus unde explicabo soluta similique minus doloribus nesciunt velit est, dolorem blanditiis exercitationem, cumque quasi!</p>
        </div>
    </div>
 

    <!-- <div class="row">
        <div class="col-sm-12">
            <a href="{% url 'adminlogout'%}"><input type="submit" class=" btn btn-light" value="Log Out"></a>
        </div>
    </div> -->
</div>
{% endblock %}