{% extends 'base.html' %}

{% block content %}
<div class="container">
    <div class="row" >
        <div class="col-sm-12"  style="background-color: black; margin:1% auto">
            <table class="table" style="text-align: center;">
                <h1 style="color: white; margin-top: 1%; margin-bottom: 3%; text-align: center;">Patient Details</h1>
                <thead>
                    <tr>
                        <th  style="color: yellow;">ID</th>
                        <th style="color: yellow;">NAME</th>
                        <th style="color: yellow;">ADDRESS</th>
                        <th style="color: yellow;">MOBILE NUMBER</th>
                        <th style="color: yellow;">EMAIL</th>
                        <th style="color: yellow;">AGE</th>
                        <th style="color: yellow;">SECTION</th>
                        <th style="color: yellow;">DESICION</th>

                        <!-- <th style="color: yellow;">ACTION</th> -->
                    </tr>
                </thead>
                <tbody>
                    {% for i in dt %}
                    <tr>
                        <td style="color: white;">{{i.id}}</td>
                        <td style="color: white;">{{i.name}}</td>
                        <td style="color: white;">{{i.address}}</td>
                        <td style="color: white;">{{i.mobile}}</td>
                        <td style="color: white;">{{i.email}}</td>
                        <td style="color: white;">{{i.age}}</td>
                        <td style="color: white;">{{i.section.Section_name}}</td>
                        <td>
                            <a href="{% url 'aprove' i.id%}"><button type="submit" class="btn btn-success btn-sm mx-5 my-3"> Approve </button></a><br>

                           <a href="{% url 'delete_patient' i.id%}"><button type="submit" class="btn btn-danger btn-sm mx-5 my-3" onclick="alert('Declain Aprovel')"> Declain </button></a>
                        </td>
                       
                    </tr>
                    {% endfor %}
                </tbody>

            </table>
        </div>
    </div>
</div>
{% endblock %}