<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css\index.css'%}">
</head>
<body>
    
    <nav class="navbar navbar-expand-md   navbar-dark">
        <!-- Brand -->
        <a class="navbar-brand" href="#"><span style="color: orangered;">AP VARKEY</span> <span style="color: yellow;">  MISSION HOSPITAL</span></a>
      
        <!-- Toggler/collapsibe Button -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if user.is_authenticated %}
          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'about'%} active {% endif %}" href="{% url 'about' %}">ABOUT</a>
              </li>

              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'section_view'%} active {% endif %}" href="{% url 'section_view'%}">ADD SECTION</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'admin_doct_view'%} active {% endif %}" href="{% url 'admin_doct_view'%}">DOCTORS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'admin_staff_view'%} active {% endif %}" href="{% url 'admin_staff_view'%}">STAFFS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'admin_patient_view'%} active {% endif %}" href="{% url 'admin_patient_view'%}">PATIENTS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'profile_admin'%} active {% endif %}" href="{% url 'profile_admin'%}">PROFILE</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'adminlogout'%} active {% endif %}" href="{% url 'adminlogout'%}">LOG OUT</a>
            </li>
              
            </ul>
          </div>
        {% else %}
        <!-- Navbar links -->
        <div class="collapse navbar-collapse" id="collapsibleNavbar">
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link {% if request.resolver_match.url_name == 'index'%} active {% endif %}" active href="{% url 'index'%}">HOME</a>
            </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'staff_login'%} active {% endif %}" href="{% url 'staff_login'%}">STAFFS</a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'doctor_login'%} active {% endif %}" href="{% url 'doctor_login'%}">DOCTORS</a>
                  
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link {% if request.resolver_match.url_name == 'adminlogin'%} active {% endif %}" href="{% url 'adminlogin'%}">ADMINS</a>  
              </li>


              
          </ul>
        </div>
        {% endif %}
      </nav>
      {% block content %}

      {% endblock %}

</body>
</html>