{% extends 'base.html' %}
{% load static %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-8" style="margin: 10% auto; text-align: center; background-color: black; margin-bottom: 5%;">

                <h1 style="color: yellow; margin-top: 2%;" >Edit Dection</h1>


                <form action="/edit_section/{{sect.pk}}" class="form" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}  

                    <input type="text"  name="section_name" value="{{sect.Section_name}}" class="form-control"><br>
                    <input type="text"  name="room_no" value="{{sect.room_no}}" class="form-control"><br>
                    <input type="submit" value="Save" class="btn btn-success" style="margin-bottom: 3%;">

                </form>


            </div>
        </div>

    </div>

{% endblock %}